In [1]:
%matplotlib inline

#Import the dependencies
import pandas as pd
import gmaps
import gmaps.datasets
import requests

#Import the API key
from config import g_key


gmaps.configure(api_key=g_key)

In [2]:
#Stored the csv created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,21-10-23 18:45:22,-33.9258,18.4232,61.27,69,75,1.01
1,1,Saskylakh,RU,21-10-23 18:45:23,71.9167,114.0833,7.39,95,100,16.33
2,2,Rosamorada,MX,21-10-23 18:45:23,22.1222,-105.2058,88.79,58,85,3.80
3,3,Kushima,JP,21-10-23 18:45:24,31.4583,131.2333,54.12,77,58,8.23
4,4,Nome,US,21-10-23 18:45:24,64.5011,-165.4064,28.47,74,1,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Get the maximum temp
#max_temp = city_data_df["Max Temp"]
#temps=[]
#for temp in max_temp:
#    temps.append(max(temp,0))

In [5]:
#Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

#Create heatmap for Temps
#1. Assign the locations to an array of lat and long pairs
locations = city_data_df[['Lat','Lng']]

#2. Assign the weights variable to some values
max_temp = city_data_df["Max Temp"]

#3. Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

#4. Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = [max(temp,0) for temp in max_temp],
                                dissipating = False,
                                max_intensity=300,
                                point_radius = 4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Create heatmap for Humidity
#1. Assign the locations to an array of lat and long pairs
locations = city_data_df[['Lat','Lng']]

#2. Assign the weights variable to some values
humidity = city_data_df["Humidity"]

#3. Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

#4. Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = [max(humidity,0) for humidity in humidity],
                                dissipating = False,
                                max_intensity=300,
                                point_radius = 4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Create heatmap for Cloudiness
#1. Assign the locations to an array of lat and long pairs
locations = city_data_df[['Lat','Lng']]

#2. Assign the weights variable to some values
clouds = city_data_df["Cloudiness"]

#3. Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

#4. Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = [max(clouds,0) for clouds in clouds],
                                dissipating = False,
                                max_intensity=300,
                                point_radius = 4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Create heatmap for Wind Speed
#1. Assign the locations to an array of lat and long pairs
locations = city_data_df[['Lat','Lng']]

#2. Assign the weights variable to some values
wind = city_data_df["Wind Speed"]

#3. Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

#4. Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = [max(wind,0) for wind in wind],
                                dissipating = False,
                                max_intensity=300,
                                point_radius = 4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask user for min and max temp
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
#Filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rosamorada,MX,21-10-23 18:45:23,22.1222,-105.2058,88.79,58,85,3.80
5,5,Arraial Do Cabo,BR,21-10-23 18:41:00,-22.9661,-42.0278,78.76,73,0,25.32
8,8,Miri,MY,21-10-23 18:45:25,4.4148,114.0089,77.14,94,40,3.44
10,10,Rikitea,PF,21-10-23 18:45:27,-23.1203,-134.9692,74.77,82,96,20.58
18,18,Bambanglipuro,ID,21-10-23 18:41:07,-7.9500,110.2833,77.14,87,100,4.09
20,20,Yangambi,CD,21-10-23 18:41:27,0.8102,24.4336,74.55,78,96,2.08
24,24,Arrecife,ES,21-10-23 18:40:32,28.9630,-13.5477,73.47,56,75,17.27
25,25,Avarua,CK,21-10-23 18:45:32,-21.2078,-159.7750,73.45,56,40,10.36
26,26,Bourail,NC,21-10-23 18:45:32,-21.5667,165.4833,70.93,79,67,7.18
27,27,Puerto Ayora,EC,21-10-23 18:41:00,-0.7393,-90.3518,78.76,82,99,9.78

In [11]:
#Check for null values
preferred_cities_df.count()

City_ID       220
City          220
Country       220
Date          220
Lat           220
Lng           220
Max Temp      220
Humidity      220
Cloudiness    220
Wind Speed    220
dtype: int64

In [12]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2        Rosamorada      MX     88.79  22.1222 -105.2058
5   Arraial Do Cabo      BR     78.76 -22.9661  -42.0278
8              Miri      MY     77.14   4.4148  114.0089
10          Rikitea      PF     74.77 -23.1203 -134.9692
18    Bambanglipuro      ID     77.14  -7.9500  110.2833
20         Yangambi      CD     74.55   0.8102   24.4336
24         Arrecife      ES     73.47  28.9630  -13.5477
25           Avarua      CK     73.45 -21.2078 -159.7750
26          Bourail      NC     70.93 -21.5667  165.4833
27     Puerto Ayora      EC     78.76  -0.7393  -90.3518

In [13]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the lat and long
    lat=row["Lat"]
    lng=row["Lng"]

    #Add lat and long to location key for params
    params["location"]=f"{lat},{lng}"

    #Use base URL to search for hotels in Paris
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #Make request and get the JSON data from the search
    hotels=requests.get(base_url, params=params).json()

    #Get the hotelsfrom the results and store the name
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
           
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rosamorada,MX,88.79,22.1222,-105.2058,Hotel Gonzalez
5,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,Pousada Porto Praia
8,Miri,MY,77.14,4.4148,114.0089,"Mega Hotel, Miri"
10,Rikitea,PF,74.77,-23.1203,-134.9692,People ThankYou
18,Bambanglipuro,ID,77.14,-7.9500,110.2833,Puri Brata
20,Yangambi,CD,74.55,0.8102,24.4336,
24,Arrecife,ES,73.47,28.9630,-13.5477,Hotel Lancelot
25,Avarua,CK,73.45,-21.2078,-159.7750,Paradise Inn
26,Bourail,NC,70.93,-21.5667,165.4833,Motel Allamanda
27,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [14]:
#Get info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
#Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

In [15]:
#Create heatmap for Temps for vacation spots
# Assign the locations to an array of lat and long pairs
locations = hotel_df[['Lat','Lng']]

# Assign the weights variable to some values
max_temp = hotel_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = [max(temp,0) for temp in max_temp],
                                dissipating = False,
                                max_intensity=300,
                                point_radius = 4)

# Assign marker
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add the layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))